<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="米虾音乐官网"/>
    <title>米虾音乐 - 音乐总有新玩法</title>
    <link rel="shortcut icon" href="../images/favicon.ico"/>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/denglu.css">
    <link rel="stylesheet" href="../css/master.css">
</head>
<body onselectstart="return false">
<!--滚动条-->
<div class="scroll" style="display:none;"></div>
<div class="wrapper">
    <div class="header">
        <h1 class="logo">
            <a href="index.html"><img src="../images/logo.png"/></a>
        </h1>
        <div class="header_search">
            <input type="text" class="search" placeholder="搜索"/>
            <div class="h-search-btn"><i class="h-search-icon"></i></div>
        </div>
        <div class="h_nav">
            <ul>
                <li><a href="javascript:" style="color: #a855a8">客服中心</a></li>
                <li><a href="javascript:" style="color: #a855a8">产品中心</a></li>
                <li class="btn"><a href="javascript:" class="nav_btn">登录</a><a href="注册.html" class="nav_btn">注册</a></li>
            </ul>
        </div>
    </div>
    <div class="nav">
        <ul class="nav_left animated fadeInLeftBig">
            <li><a href="index.html">首页</a></li>
            <li><a href="javascript:">榜单</a></li>
            <li style="width: 140px"><a href="下载客户端.html">下载客户端</a></li>
            <li class="more" style="width: 113px">
                <a href="javascript:">更多<span></span></a>
                <ul class="subnav" style="display:block;">
                    <li><a href="javascript:">电台</a></li>
                    <li><a href="javascript:">MV</a></li>
                    <li><a href="javascript:">歌单</a></li>
                    <li><a href="javascript:">歌手</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav_right animated fadeInRightBig">
            <li style="margin-left: 50px"><a href="javascript:">音乐直播</a></li>
            <li><a href="javascript:">米虾LIVE</a></li>
            <li><a href="javascript:">音乐人</a></li>
            <li><a href="javascript:">游戏</a></li>
            <li><a href="米虾商城.html">商城</a></li>
        </ul>
    </div>
    <div class="banner_warp">
        <div class="banner">
            <ul>
                <li><img src="../images/banner-1.jpg"></li>
                <li><img src="../images/banner-2.jpg"></li>
                <li><img src="../images/banner-3.jpg"></li>
                <li><img src="../images/banner-4.jpg"></li>
                <li><img src="../images/banner-5.jpg"></li>
            </ul>
        </div>
        <div class="menu"></div>
        <div class="download_warp">
            <div class="download">
                <a href="../download/mixia_pc.exe" style="background:url(../images/pc.png)no-repeat left center">下载PC版</a>
                <a href="../download/mixia_iphone.exe" style="background: url(../images/iPhone.png)no-repeat left center">下载iPhone版</a>
                <a href="../download/mixia_android.exe" style="background: url(../images/andriod.png)no-repeat left center">下载安卓版</a>
            </div>
        </div>
    </div>
    <div class="content">
        <!--精选歌单-->
		<div class="jx_gedan">
            <div class="itemTitle">
                <h1><b>精选</b>歌单</h1>
                <a href="javascript:">更多</a>
            </div>
            <div class="jx_big">
                <div class="mask"></div>
                <div>
                    <p class="count" style="right: 1px">2371.24万</p>
                    <img src="../images/jxgd-1.jpg" alt="" style="width: 325px;height: 325px;"/>
                    <div class="message">
                        <p>一个人的低吟浅唱</p>
                        <p>KIMI</p>
                    </div>
                </div>
            </div>
            <div class="jx_small">
                <div class="mask">
                </div>
                <div>
                    <p class="count" style="right: 175px">1346.34万</p>
                    <img src="../images/jxgd-2.jpg" alt="" style="width: 160px;height: 160px;"/>
                    <div class="message" style="top: 110px;left: 0px;">
                        <p>谁说光棍就不能快乐</p>
                        <p>颜露</p>
                    </div>
                </div>
                <div>
                    <p class="count" style="right: 12px">1346.34万</p>
                    <img src="../images/jxgd-3.jpg" alt="" style="width: 160px;height: 160px;"/>
                    <div class="message" style="top: 110px;left: 163px;">
                        <p>记忆是首歌，唱出岁月的河</p>
                        <p>花非花</p>
                    </div>
                </div>
                <div>
                    <p class="count" style="right: 175px">1346.34万</p>
                    <img src="../images/jxgd-4.jpg" alt="" style="width: 160px;height: 160px;"/>
                    <div class="message" style="top: 273px;left: 0px;">
                        <p>《厉害了！我的歌》合集</p>
                        <p>风</p>
                    </div>
                </div>
                <div>
                    <p class="count" style="right: 12px">1346.34万</p>
                    <img src="../images/jxgd-5.jpg" alt="" style="width: 160px;height: 160px;"/>
                    <div class="message" style="top: 273px;left: 163px;">
                        <p>《超强音浪》合辑</p>
                        <p>蒽蒽</p>
                    </div>
                </div>
            </div>
        </div>
		<!--热门神曲-->
        <div class="rm_bangdan">
            <div class="itemTitle" style="width: 320px">
                <h1><b>热门</b>神曲</h1>
                <a href="javascript:">更多</a>
            </div>
            <div class="mask"></div>
            <div class="list_item">
                <img src="../img/temp-1.png" alt="">
                <div>
                    <h2>年少的时光满满都是回忆</h2>
                    <p>1 . 早見沙織 - 時代遅れの恋人たち</p>
                    <p>2 . 林志炫 - Feeling Good(Live)</p>
                </div>
            </div>
            <div class="list_item">
                <img src="../img/temp-16.png" alt="">
                <div>
                    <h2>日系情歌,你就是我的天空</h2>
                    <p>1 .赤い花 白い花 (红花 白花)</p>
                    <p>2 .(こまつ みかこ) - 冷たい部屋、一人</p>
                </div>
            </div>
            <div class="list_item">
                <img src="../img/temp-9.png" alt="">
                <div>
                    <h2>未开口就喜欢上的日语歌</h2>
                    <p>1 .いきものがかり - ハルウタ (春之歌)</p>
                    <p>2 . 世界第一公主殿下</p>
                </div>
            </div>
        </div>
		<!--新歌首发-->
        <div class="new">
            <div class="itemTitle">
                <h1><b>新歌</b>首发</h1>
                <span style="color: #c965c9;">日本</span>
                <span>韩国</span>
                <span>华语</span>
                <span>欧美</span>
            </div>
            <div style="display: block" class="submenu menu-1">
                <ul>
                    <li>中島美嘉 - TOUGH<span>02:54</span></li>
                    <li>Lead - トーキョーフィーバー<span>05:43</span></li>
                    <li>影山ヒロノブ - 裏切りの夕焼け<span>05:04</span></li>
                    <li>JUJU - Because of You<span>04:14</span></li>
                    <li>菅田将暉 - 見たこともない景色<span>03:24</span></li>
                    <li>UNIONE - パッサボーラ!<span>03:23</span></li>
                    <li>高畑充希 - デイ・ドリーム・ビリーバー<span>04:27</span></li>
                    <li>梶裕贵 - Helpless World<span>03:53</span></li>
                </ul>
            </div>
            <div class="submenu menu-2">
                <ul>
                    <li>CNBLUE - 你我之间 (Between Us)<span>03:14</span></li>
                    <li>曹璐、Kisum、郑艺琳 - 为什么又是春天呀 (Spring again)<span>03:33</span></li>
                    <li>GOT7 - Never Ever<span>04:22</span></li>
                    <li>Monsta X - Beautiful<span>02:55</span></li>
                    <li>Highlight - 美好(It s Still Beautiful)<span>03:36</span></li>
                    <li>Joy - Yeowooya【她爱上了我的谎 OST】<span>04:16</span></li>
                    <li>Suran - 风儿寒冷【被告人 OST】<span>02:33</span></li>
                    <li>Highlight - Plz don t be sad<span>02:29</span></li>
                </ul>
            </div>
            <div class="submenu menu-3">
                <ul>
                    <li>王丽坤、朱亚文 - 漂洋过海来看你【漂洋过海来看你主题曲】<span>03:26</span></li>
                    <li>海鸣威 - 人海【恶魔少爷别吻我插曲】<span>02:47</span></li>
                    <li>南征北战 - 非凡时代【非凡任务片尾曲】<span>03:46</span></li>
                    <li>李佑晨 - 另一种伴侣<span>05:06</span></li>
                    <li>LINKIN PARK - Battle Symphony<span>03:39</span></li>
                    <li>伊能静、胡可、马雅舒、包文婧 - 妈妈是超人【妈妈是超人主题曲】<span>04:21</span></li>
                    <li>水木年华 - 在他乡 (15周年纪念版)<span>04:22</span></li>
                    <li>牛奶咖啡 - 遇见你【因为遇见你插曲】<span>05:01</span></li>
                </ul>
            </div>
            <div class="submenu menu-4">
                <ul>
                    <li>blink-182 - Parking Lot<span>03:17</span></li>
                    <li>Lea Michele - Anything s Possible<span>04:18</span></li>
                    <li>LINKIN PARK - Battle Symphony<span>04:02</span></li>
                    <li>Feist - Pleasure<span>05:24</span></li>
                    <li>Weezer - Feels Like Summer<span>03:44</span></li>
                    <li>Clean Bandit、Zara Larsson - Symphony<span>03:24</span></li>
                    <li>Nelly - Sounds Good to Me<span>01:55</span></li>
                    <li>G-Eazy、Kehlani - Good Life【速度与激情8插曲】<span>03:03</span></li>
                </ul>
            </div>
        </div>
		<!--猜你喜欢-->
        <div class="guess-love">
            <div class="itemTitle"><h1><b>猜你喜欢</b></h1></div>
            <div class="love-txt"><img/><p></p></div>
            <div class="love-txt"><img/><p></p></div>
            <div class="love-txt"><img/><p></p></div>
            <div class="love-txt"><img/><p></p></div>
            <p class="love-btn"><span>换一批看看</span></p>
        </div>
    </div>
	<!--footer-->
    <div class="footer">
        <iframe src="foot.html" frameborder="0" style="width: 100%;height: 400px" scrolling="no"></iframe>
    </div>
</div>
<script src="../js/jquery-2.0.3.min.js"></script>
<script src="../js/banner.js"></script>
<script src="../js/scroll.js"></script>
<script src="../js/Drag.js"></script>
<script>
    $('.message').append("<span class='play'></span>");
    $('.love-txt').append("<div class='cover'><span class='play'></span></div>");
    $('.more').hover(function () {
        $(this).children('ul').show();
    }, function () {
        $(this).children('ul').hide();
    });
    $('.nav_right li').each(function (i) {
        var pos = -119 - i * 36;
        $(this).children('a').prepend('<span class="span"></span>');
        $('.span').eq(i).css({'backgroundPosition': '0px' + ' ' + pos + 'px'});
    });
    $('.jx_big,.jx_small > div,.list_item').hover(function () {
            if (!$(this).is(".jx_big")) {
                maskPosition(this);
            }
            $(this).find('.play,.mask').show();
        }, function () {
            $(this).find('.play,.mask').hide();
        }
    );
    function maskPosition(_this) {
        var mTop = $(_this).position().top;
        var mLeft = $(_this).position().left;
        $(_this).siblings('.mask').css({'top': mTop + 'px', 'left': mLeft + 'px'}).show();
    }
    $('.new .itemTitle span').hover(function () {
        var index = $(this).index();
        $(this).css("color", "#c965c9").siblings('span').css("color", "#000");
        $('.submenu').eq(index - 1).show().siblings('.submenu').hide();
    });
    $('.submenu li,.love-txt,.play').click(function () {
        window.open('music.html', '', 'height=690,width=990,top=32,left=232,resizable=no')
    });
    $('.love-btn span').click(function () {
        var html = "";
        var imgArr = ["1", "2", "3", "4", "5", "6", "7", "8"];
        $('.guess-love img').each(function () {
            var _index;
            do {
                _index = Math.floor(Math.random() * imgArr.length);
            } while (imgArr[_index] == null);
            this.src = "../images/love-" + imgArr[_index] + ".jpg";
            switch (imgArr[_index]) {
                case '1':html = "初音神曲";break;
                case '2':html = "清新的旋律";break;
                case '3':html = "听到就会勾起回忆的歌";break;
                case '4':html = "自古工出燃曲";break;
                case '5':html = "男男对唱";break;
                case '6':html = "唱入你灵魂深处的歌声";break;
                case '7':html = "超强音浪";break;
                case '8':html = "最厉害的歌";break;
            }
            html = "<span>" + html + "</span>";
            $(this).siblings('p').html(html);
            $(this).toggleClass('love-active');
            imgArr[_index] = null;
        });
    }).trigger("click");
</script>
</body>
</html>